#/etc/systemd/system/controller.service

[Unit]
Description=EnergyMonitoringManagement InfluxUpdater Service

After=network.target
After=postgres.service
StartLiitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python3 /home/pi/EnergyMonitoringManagement/src/influx_updater.py

[Install]
WantedBy=multi-user.target


